@import url('https://fonts.googleapis.com/css2?family=Fjord+One');
* {
    font-family: 'Fjord One';
  }

 
    html, body {

        overflow-x: hidden;
        margin: 0;
      
    }
  

.header{
    /* display: flex; */
    /* justify-content: space-around; */
    align-items: center;
    white-space: nowrap;
    width:100%;
  background-color: hsl(357, 100%, 82%);
  padding: 2vh;
 

  /* position: absolute; */
}
.desc{
  width: 50%;
}

.header a{
    padding: 2vh;
    color:#FFFFFF;
    text-decoration: none;
    font-size: 30px;
}
.banner{
    background-image: url('header.png');
     background-position: center;
     background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    height :30vh;
    width: 110%;
}
.footer{
    background-color: hsl(357, 72%, 76%); ;
    color: white;
    text-align: center;
    padding-top: 80px;
    bottom: 0;

    padding-bottom: 30px;
    
}
.empty{
  padding: 100px;
}


/* Dropdown Button */
.dropbtn {
    background-color: hsl(357, 100%, 82%);
    color: white;
    padding: 16px;
    font-size: 16px;
    border-top-left-radius: 2vh;
    border-top-right-radius: 2vh;
    border: none;
    
  }
.dropdown-background{
    background-color: hsl(357, 100%, 82%);
    display: flex;

}
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-bottom-right-radius: 1vh;
    border-top-right-radius: 1vh;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    
  }

  .dropdown-row{
    margin:auto;

   
    gap :80px;
  }
.content{
  margin:auto;
  padding:150px;
  display: flex;
  gap :80px;
}
.content-img{


}
.content-text{
  width :500px;
}
#photo-of-me{

 
border-radius: 100vh;


}

.amano{
  display: flex;  
  justify-content: center;  
  align-items: center;  
  padding-top :100px;
}

  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;
transition: 1s;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #db8e8e;
transition: 1s;}

@media only screen and ( max-width: 1200px) {
 body{
  
 }
 .content{
  display: block;

}
.header a{

    font-size: 90px;
}

.dropbtn {

    font-size: 45px;

    
  }
.content-text{
  width :100%;
  font-size: 40px;
}
}
