@import url('https://fonts.googleapis.com/css2?family=Fjord+One');
* {
    font-family: 'Fjord One';
  }

 
    html, body {
        max-width: 100%;
        overflow-x: hidden;
    }
  

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    white-space: nowrap;
  background-color: #76B989;
  padding: 5vh;
  width: 110%;
  height: 110%;

  border-bottom:solid#6ba361 2vh;




}
.header a{
    padding: 25vh;
    color:#FFFFFF;
    text-decoration: none;
    font-size: 50px;
}
.banner{
    background-image: url('header.png');
     background-position: center;
     background-repeat: no-repeat;
    background-size: cover;
    height :30vh;
    width: 110%;
}
.footer{
    background-color:#6ba361 ;
    color: white;
    text-align: center;
    padding: 80px;
    bottom: 0;
    
}
.content{
    padding:50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #76B989;

  width: 100%;
  height: 110%;
  font-size: 25px;
}
.content div{
    padding :20px;
}

@media only screen and ( max-width: 60vh) {
    .content{
        padding-top: 8vh;
        padding-bottom: 30vh;
        display:grid;
        justify-content:flex-end;
        align-items:baseline;
        background-color: #76B989;
    
      width: 100%;
      height: 110%;
      font-size: 25px;
    }
    .header a{
        padding: 5vh;
        font-size: 3vh;
        width: 100%;

    }
    .header{
        width: 100%;
        padding: 0px;
        padding-top: 5vh;
        padding-bottom: 2vh;
        
    }
    .footer{
        transform: translate(0px);
    }
 
}
/* -------------------ipad--------------- */
@media only screen and ( min-width: 60vh) and (max-width:120vh){
    
    .content{
        padding-top: 8vh;
        padding-bottom: 30vh;
        display:grid;
        justify-content:flex-end;
        align-items:baseline;
        background-color: #76B989;
    
      width: 100%;
      height: 110%;
      font-size: 25px;
    }
    .header a{
        padding: 6vh;
        font-size: 3vh;
        width: 100%;

    }
    .header{
        
        display: flex;
        /* justify-content: space-around; */
        align-items: center;
        white-space: nowrap;
      background-color: #76B989;
      padding: 5vh;

    
      border-bottom:solid#6ba361 2vh;
    
        
    }
    .footer{
        transform: translate(0px);
    }
 
}